name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v0.1.7
        with:
          version: v1.26
          github-token: ${{ secrets.GITHUB_TOKEN }}
